*{
    font-family: 'Times New Roman';
}

/* 
3 ways to add CSS in html 
1. Inline CSS
<h1 style="color: red; font-size: 20px;">This is an h1 heading</h1>

2. Internal CSS
<head>
  <style>
    h1 {
      color: red;
      font-size: 20px;
    }
  </style>
</head>

3. External CSS
Add below code in html 
<head>
  <link rel="stylesheet" href="style.css">
</head>
Then create .css file
    h1 {
      color: red;
      font-size: 20px;
    }
*/

/*

SELECTORS
1. Universal Selector(Apply on Whole Document)
    *{}
2. Element Selector
    h1 { }
3. Id Selector
    #Id { }
4. Class Selector
    .Class { }

*/

/* Element Selectors */
.heading1{
    text-align: center;
    text-decoration: underline;

}

h2{
    color: green;
}

/* class */

h3{
    background-color: rgb(121, 145, 224);
    font-weight: lighter;

}
/* 
R= 00-ff
G= 00-ff
B= 00-ff
*/
h4{
    background-color: #7991e0 ;
}
button{
    color: rgb(0, 39, 43);
    background-color: pink;

}

#box{
    background-color: blue;
}
.heading{
    color: red;
}

#para1{
    text-align: center;
    font-family:arial;
    font-size: 20px;
    line-height: 45px;
    text-transform: capitalize;

    /* if not browser does not support Segoe UI then Tahoma,
    if Tahoma not supported then  Geneva,
    .........................sans-serif.
    if none supports then Times New Roman (serif) */
}

#para2{
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
    line-height: 80%;
    text-transform: lowercase;
    height: 200px;
}
#para3{
    height: 300px;
    width: 250px;
    background-color: pink;
    border-width: 10px;
    border-style:ridge;
}
.boxmodel{
    height: 100px;/*height of the box */
    width: 140px;/*width of the box */
    background-color: #21c766;
    color: white;
    /* border-width: 4px;
    border-style:dashed;
    border-color: black; */
    border: 4px dashed rgb(0, 0, 0);/* Border shorthand= width style color*/
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 10px;/* space between lines */
    font-weight : lighter;
}

.link1{
    text-decoration: none;
    font-weight : lighter;
}
#doubleid1.three{ color: blue; }
.three{ color: red; }

/* ids and class names does not contain spaces */