/*Sometimes flex properties didn't work so we have so we have to change units of sizes from "px" to "vh/vw" or into "%"*/
body{
    text-align: center;
}
div{
    height: 14px;
    width: 100px;
    border: 2.5px solid black;
}

#flexcontainer{
    height: 50vh;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap:wrap-reverse;
    align-items: center;
}
#Dibba1{
    background-color:chocolate;
}

#Dibba2{
    background-color:rgb(51, 87, 232);
}

#Dibba3{
    background-color:violet;
}

#Dibba4{
    background-color:rgb(0, 255, 162);
}

#Dibba5{
    background-color:rgb(81, 255, 0);
}