/*Sometimes flex properties didn't work so we have so we have to change units of sizes from "px" to "vh/vw" or into "%"*/
body{
    text-align: center;
}

div{
    height: 20px;
    width: 100px;
    border: 2.5px solid black;
}

#flexcontainer{
    height: 50vh;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap:wrap;/**/
    /* align-content:center;align the content of items of flexbox */

    align-items: center;/*align the items of flexbox*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Dibba1{
    background-color:rgb(51, 87, 232);
}

#Dibba2{
    background-color:rgb(255, 107, 1);
    align-self: flex-end;/*used to arrange specfic items of flexbox---HIGHEST PRIORITY*/
}

#Dibba3{
    background-color:violet;
}

#Dibba4{
    background-color:rgb(0, 255, 162);
}

#Dibba5{
    background-color:rgb(81, 255, 0);
}