*{
    margin: 0px;
    font-family: Arial;
    border:border-box;
    color: white;
    font-weight: normal;
    
}
.navbar{
    height: 4vw;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Box 1*/

.nav-logo{
    height: 4vw;
    width: 6vw;
}
.nav-logo .logo{
    background-image: url(images/amazon_logo.png);
    height: 100%;
    width: 7vw;
    background-size:cover;
    background-repeat: no-repeat;
    padding-left: 1vw;
    margin-left: 11%;
}

.border{
    /* border: 2px solid transparent; */
    
}
.border:hover{
    /* border: 2px solid white; */
}

/* Box 2 */


#deliver-color{
    color: #cccccc;
    font-size: 0.8vw;
    margin-left: 1.5vw;
}
.fa-location-dot{
    font-size: 1.4vw;
}

#location-india{
    font-size: 0.9vw;
    margin-left: 0px;
    margin-right: 0px;
    padding-left:0px;
    padding-right: 0px;
    
}


/* Box 3 */

.search-bar{
    display: flex;
    height: 2.5vw;
    width: 50vw;
    background-color: transparent;
    justify-content: space-evenly;


}
.search-bar:hover{
    border-radius: 6px;
    border: 2px solid orange;

}
.search-select{
    width: 45px;
    padding-left: 5px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    text-align: center;
    color: #0f1111;
    background-color: #f3f3f3;
    border: none;
    font-size: 1vw;

}

.search-input{
    border: 1px solid transparent;
    color: black;
    width: 100%;
    border:none;
    font-size: 1vw;

}

.search-button{
    border: 1px solid transparent;
    background-color: rgb(240,192,76);
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    width: 3vw;
    font-size: 1vw;
}

.searchborder:active{
    border-style: outset;
    border-radius: 4px;
    border: 1px solid white;

}

.flag{
    display: flex;
}
.flagsize{
    height: 2.2vh;
    width: 1vw;
    margin: 0px 2px 0px 0px;
    align-items: center;

}
.flag p{
    font-size: 1vw;
}
/* /* Box 5 */



.signin-txt1{
    font-size: 0.8vw;
}
.signin-txt2{
    font-size: 0.9vw;
    font-weight: 700;
}

/* Box 6 */

.cart{
    font-size: 1vw;
    font-weight: 700;
    margin-right: 1vw;
    
}

.cart i{
    font-size: 1.5vw;
    
}


.panel{
    height: 2.7vw;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.panel-all{
    width: 4vw;
    font-size: 1vw;
    margin-left:10px;

}

.panel-all i{
margin-right: 0.2vw;
}
.panel-options{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 30%;
    font-size: 1vw;

}

.hero-section{
    background-image: url(images/hero_image.jpg);
    background-size: cover;
    background-position:top;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-repeat: no-repeat;
}

@media (max-width: 1000px) {
    .hero-section{
        background-size: cover;
        overflow: hidden;
        height: 20rem;
    }
}

@media(max-width:800px){
    .hero-section{
        background-size:50rem;
    }
}

.hero-message{
    height: 3vw;
    background-color: #f5f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-size: 0.8vw;
    width: 90%;
    margin-bottom: 2.2vw;
}

@media (max-width: 1000px) {
    .hero-message{
        flex-wrap: wrap;
    }
}

.hero-message a{
    color: #007185;
    text-decoration: none;
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e3e6e6;
    padding-top: 10px;
    padding-bottom: 20px;
}

.box{
    height: 400px;
    width: 353.28px;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 1vw;
    overflow: hidden;
}

@media (max-width:370px) {
    .box{
        height: fit-content;
    }
}

.box4.box{
    background-color: transparent;
}
.box h2{
    color: black;
    font-size: 21px;
    font-weight: 600;
}







.box-content{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;

}
.box-content.box8{
    margin-top: 0px;
}
.box-img{
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box-img img{
    max-width: 100%;
    height: auto;
    background-size: cover;
    width: 313.28px;
    background-repeat: no-repeat;
    display: flex;
}

.box-img img:hover{
    transform: scale(1.1);
    transition: all .3s ease-in-out;

}
.box-img.box44{
    background-size: contain;
    margin-top: 50px;
}
.box.box4{
    background-color: transparent;

}





.box-content a{
    text-decoration: none;
    color: #007185;
    padding-top: 20px;
}
@media (max-width:370px) {
    .box h2{
        font-size: 5.4vw;
    }
    .box a{
        font-size: 4.5vw;
    }

}
footer{
}

.footer-panel1{
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-size: 0.9vw;
}

.footer-panel2{
    background-color: #222f3d;
    height: 320px;
    display: flex;
    justify-content: space-evenly;
}
.footer-list p{
    font-size: 1.2vw;
    font-weight: 750;
    margin: 40px 0px 15px 0px;
}
.footer-list a{
    display: block;
    font-size: 1vw;
    font-weight: 50;
    margin-bottom: 7px;
    color: #dddddd;
}

.footer-panel3{
    background-color:#222f3d;
    height: 80px;
    color: white;
    border-top: 0.1px solid grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoo{
    background-image: url(images/amazon_logo.png);

    height: 50px;
    width: 100px;
    background-size: cover;
} 

.footer-panel14{
    background-color: #131A22;
    color: white;
    height: 80px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tnc{
    font-size: 1vw;
    font-weight: 100px;
}
.copyright{
    font-size: 1vw;
    padding-top: 5px;
}